*{
    margin: 0;
    padding: 0;
}

.grid-container{
    background-color: rgba(223, 26, 26, 0.801);
    padding: 20px;
    display: grid;
    grid-template-columns: 200px 300px 200px;
    grid-template-rows: 100px 200px auto;
    grid-row-gap: 10px;
    justify-content: center;
    justify-content: space-between;
}

.grid-item{
    background-color: rgb(252, 231, 171);
    border: 1px solid black;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

#grid-5 {
    grid-area: 1/2/4/5;
    
}