body{
    color: rgb(15, 15, 15);
    background-color: rgb(204, 204, 204);
}
.c2{
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid rgb(28, 27, 27);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.c1{
    text-align: center;
    border: 2px solid rgb(12, 12, 12);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: white;
}

ol{
    list-style-type: none;
    text-decoration-line: none;
}

h1,h2{
    color: #020202;
    text-align: center;
}

li{
    text-decoration-line: none;
}