body{
    padding: 0px;
    margin: 0px;
    background-color: #FFE4C4;
    font-family: sans-serif;
}
.image{
    height: 100%;
    width: 100%;
    text-align: center;
}
.cards{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: rgb(255, 250, 250);
    padding: 16px;
}