body{
    padding: 0;
    margin: 0;
    background-color: white;
}

.logo{
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}

.block{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#box{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(254, 253, 251)

}

#box h2{
    color: rgb(73, 52, 195);
}

#box:hover{
}