*{
    padding: 0;
    margin: 0;
}

body{
    background-color: blue;
}
.login{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
}