#parent{
    border: 1px solid black;
    padding: 200px;
    width: 50%;
    margin: 100px;
    position: relative;
}
#one{
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}

#two{
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

#three{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#four{
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.dot{
    height: 1rem;
    width: 1rem;
    margin-bottom: 4px;
    background-color: black;
    border-radius: 50%;
}

.menu{
    padding: 4px;
    margin: 1rem;
    
}

.square{
    height: 1rem;
    width: 1rem;
    margin-bottom: 4px;
    background-color: black;
}

.rect{
    height: .5rem;
    width: 2.5rem;
    background-color: black;
    margin-bottom: 4px;
}